doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		title   Vamooooooooos
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(rel="stylesheet", href="estilos.css")

		//- Area para los templates

		script(type="text/template" id="parella_tmpl").
			
			<div class="row">
				<span id="pos" class="col-xs-1"> <%= pos %> </span>
				<span id="nom" class="col-xs-4"> <%= nom %></span>
				<span id="pts" class="col-xs-1"> <%= pts %> </span>
				<span id="pg" class="col-xs-1"> <%= pg %> </span>
				<span id="pj" class="col-xs-1"> <%= pj %> </span>
				<span id="pp" class="col-xs-1"> <%= pp %> </span>
				<span id="ds" class="col-xs-1"> <%= ds %> </span>
				<span id="dj" class="col-xs-1"> <%= dj %> </span>
				<span id="np" class="col-xs-1"> <%= np %> </span>
			</div>

		script(type="text/template" id="partit_tmpl").

			<div class="row">
				<span class="col-xs-6">  <%= parellaLocal %> </span>
				<span class="col-xs-2">  <%= parA1 %> </span>
				<span class="col-xs-2">  <%= parA2 %> </span>
				<span class="col-xs-2">  <%= parA3 %> </span>
			</div>
			<div class="row">
				<span class="col-xs-6">  <%= parellaVisitant %> </span>
				<span class="col-xs-2">  <%= parB1 %> </span>
				<span class="col-xs-2">  <%= parB2 %> </span>
				<span class="col-xs-2">  <%= parB3 %> </span>
			</div>

	body
		section#cabecera.container-fluid
			div.row
				div(id="btn_ranking" class="col-xs-1") Ranking
				div(class="col-xs-1") |
				div(id="btn_partits" class="col-xs-1") Partits
				h4(class="col-xs-9") Lliga de primavera 3era Divisió 2016

		section#clasific.container-fluid
			div.row
				span(class="col-xs-1 col-xs-offset-5") Pts
				span(class="col-xs-1") PG
				span(class="col-xs-1") PJ
				span(class="col-xs-1") PP
				span(class="col-xs-1") DS
				span(class="col-xs-1") DJ
				span(class="col-xs-1") NP

		section#jornades_div.container-fluid
			div.row
				span(class="col-xs-2") set 1
				span(class="col-xs-2") set 2
				span(class="col-xs-2") set 3


		script(type="text/javascript" src="vendors/jquery-1.12.1.min.js")
		script(type="text/javascript" src="vendors/underscorejs.min.js")
		script(type="text/javascript" src="vendors/backbonejs.min.js")
		script(type="text/javascript" src="models/ParellaUll.js")
		script(type="text/javascript" src="models/Partit.js")
		script(type="text/javascript" src="bviews/ParellaView.js")
		script(type="text/javascript" src="ull.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
