doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		title   ivan
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(rel="stylesheet", href="estilos.css")


	body
		h1 Panel de control
		br
		br
		br
		input(type="button" value="Ulldecona" id="ull")
		input(type="button" value="Vinaros" id="vin")


		script(type="text/javascript" src="vendors/jquery-1.12.1.min.js")
		script(type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

		script.
			var socket = io();

			socket.on('saveOk', function(msg){
			console.log(msg);
			})

			$('#ull').click(function(e){
				e.preventDefault;
				socket.emit('ull', 'evento de spy para ulldecona lanzado');
			});

			$('#vin').click(function(e){
				e.preventDefault;
				socket.emit('vin', 'evento de spy para vinaros lanzado');
			})

